module LinkB where

foreign import addI :: Int -> Int -> Int

double :: Int -> Int
double x = addI x x

data Pair = Pair Int Int

mkPair :: Int -> Int -> Pair
mkPair = Pair

fstP :: Pair -> Int
fstP p = case p of
  Pair a _ -> a
